<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('homepage')}}">Voituro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a {% if app.request.attributes.get("_route") =='homepage' %}class="nav-item nav-link active" {% endif %} class="nav-item nav-link" href="{{ path('homepage')}}">Accueil</a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
                {% if (app.user) %}
                <li> <span class="uk-badge">{{ app.user.username }} </span></li>
                <li><a href="{{ path('app_logout')}}"><span class="uk-badge">Déconnexion</span></a></li>
                {% endif %}
    </div>
  </div>
{# </nav>       
       
       
       
       <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li {% if app.request.attributes.get("_route") =='homepage' %}class="uk-active" {% endif %}><a href="{{ path('homepage')}}" >Accueil</a></li>
                {# <li {% if app.request.attributes.get("_route") =='presentation' %}class="uk-active" {% endif %}><a href="{{ path('presentation')}}">Présentation</a></li>
                <li {% if app.request.attributes.get("_route") =='newsletter' %}class="uk-active" {% endif %}><a href="{{ path('newsletter')}}">Newsletter</a></li>
                <li {% if app.request.attributes.get("_route") =='formulaire' %}class="uk-active" {% endif %}><a href="{{ path('formulaire')}}">Formulaire</a></li> #}
{# 
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">

            </ul>
        </div>
        </nav> #} 
